<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">
  <Identity Name="f34b5c78-5b5a-405d-ac08-94928fa92a17" Version="1.0.0.0" Publisher="CN=jessefre" />
  <Properties>
    <DisplayName>SuperPaperMonsterSmasherStarterKitWin8</DisplayName>
    <PublisherDisplayName>jessefre</PublisherDisplayName>
    <Logo>images\storelogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.2.1</OSMinVersion>
    <OSMaxVersionTested>6.2.1</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" StartPage="default.html">
      <VisualElements DisplayName="SuperPaperMonsterSmasherStarterKitWin8" Logo="images\logo.png" SmallLogo="images\smalllogo.png" Description="SuperPaperMonsterSmasherStarterKitWin8" ForegroundText="light" BackgroundColor="#464646">
        <DefaultTile ShowName="allLogos" ShortName="SPMS Starter Kit" />
        <SplashScreen Image="images\splashscreen.png" BackgroundColor="#000000" />
      </VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>